<!DOCTYPE html>
<html>
  <head>
    <title>Visitor Stats</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/socket.io/socket.io.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script>
 $(function() {
    $( "#tabs" ).tabs();
	});
 google.load('visualization', '1', {'packages':['corechart','geochart','table','gauge']});
 var data;
    var chart;
   var socket = io.connect('http://94.200.178.58:3000');
   
   
   
   //google.setOnLoadCallback(drawVisualization);
   
	function top_filter(key, value)
	{
		var top_filters = new google.visualization.DataTable();
		top_filters.addColumn('string','Category');
		top_filters.addColumn('number','Count');
		$.each(value, function (keys, values) {
						if(keys != undefined)
						{
							top_filters.addRows([[keys,parseInt(values)]]);	
						}
					});
			var options = {'title':'Freqency of '+key,
							   'width':500,
							   'height':500};
			var chart_top_filters = new google.visualization.PieChart(document.getElementById(key));
			chart_top_filters.draw(top_filters, options);
	}
   
   
    function drawChart(hits,keywords, pids,top_filters,bt_filters) 
	{
		
		if(hits != undefined)
		{
				//alert(typeof hits);
				var data11= google.visualization.arrayToDataTable([
				['Label', 'Value'],
				['Hits',parseInt(hits) ]
				]);

				var options11 = {
				width: 400, height: 120,
				redFrom: 90, redTo: 100,
				yellowFrom:75, yellowTo: 90,
				minorTicks: 2
				};
			
				var chart = new google.visualization.Gauge(document.getElementById('gauge'));
				chart.draw(data11, options11);
			
		}
        

		if(bt_filters != undefined)
		{
			var dataArrayfortable = [['No.','Activity','Count']];
			var temp = 1;
			$.each(bt_filters, function (key, value) {
				if(value != '' && value != undefined)
				{
					dataArrayfortable.push([temp,key,value]);
					temp++;
				}
			});
			var table = google.visualization.arrayToDataTable(dataArrayfortable);
			var visualization = new google.visualization.Table(document.getElementById('bt_filters'));
			visualization.draw(table, null);
		}
		if(top_filters != undefined)
		{
			$.each(top_filters, function (key, value) {
				if(value != '' && value != undefined)
				{
					top_filter(key,value);		
				}
			});
		}
		if(keywords != undefined)
		{
			data = new google.visualization.DataTable();
			data.addColumn('string','Keyword');
			data.addColumn('number','Count');
			  
			Object.keys(keywords).forEach(function(keyword){    
			data.addRows([[keyword,parseInt(keywords[keyword])]]);
			});
			var options = {'title':'Freqency of Search Keywords',
							   'width':600,
							   'height':600};
			chart = new google.visualization.PieChart(document.getElementById('keywords'));
			chart.draw(data, options);
		} 
		if(pids != undefined)
		{
		   var dataArray = [['Product Ids', 'No. of visits']];
		   Object.keys(pids).forEach(function(pid){    
		   dataArray.push([parseInt(pid),parseInt(pids[pid])]);
		   });
		   dataArray.pop();  
		   var data1 = google.visualization.arrayToDataTable(dataArray);
		   var table = new google.visualization.Table(document.getElementById('visualization'));
		   var formatter = new google.visualization.BarFormat({width: 600,'height':600});
		   formatter.format(data1, 1); // Apply formatter to second column
		   table.draw(data1, {allowHtml: true, showRowNumber: true});
		}
  
  
    }   
   google.setOnLoadCallback(drawChart());
   socket.on('connected',function(data){
  //console.log(data);
   });
   socket.on('disconnect', function(){
  console.log('socket closed');
   });
   socket.on('updates', function (data) {   
	console.log(data);   
	$("#updates").html(data.hits);
	//console.log('topfilters',data.top_filters);   
	//google.setOnLoadCallback(function() { drawChart(data.keywords,data.pids,data.top_filters); });
	drawChart(data.hits,data.keywords,data.pids,data.top_filters,data.bt_filters);
 
   });
   //google.setOnLoadCallback( updates );
   window.onbeforeunload = function() {
    socket.onclose = function () {}; // disable onclose handler first
    socket.close();
};
   
 </script>
<style>
.page {
  text-align:center;
  border: 1px solid rgb(0,0,0);
  width:400px;
  height:400px;              
  float: left;
}

.pageHolder{
  overflow: auto;
  width: 100%;
}
</style>
  </head>
  <body>
  <h3> Behaviour  Tracking</h3>
 Live Hits: <div id="updates"></div>
 
 
 
 
  <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Keyword Graph</a></li>
    <li><a href="#tabs-2">Category Based</a></li>
    <li><a href="#tabs-3">Actions URL's</a></li>
	<li><a href="#tabs-4">Product ID's</a></li>
	<li><a href="#tabs-5">Overall Data Category-wise</a></li>
	<li><a href="#tabs-6">Guage</a></li>
	<li><a href="#tabs-7">PID's</a></li>
	
	
  </ul>
  
  
  <div id="tabs-1" class='pageHolder'>
	<div class='page' id="keywords"></div>
	
  </div>
  
  
  
  <div id="tabs-2"  class='pageHolder'>
	 <div class='page' id="tp"></div>
	 <div class='page' id="mk"></div>
	 <div class='page' id="md"></div>
	 <div class='page' id="yr"></div>
	 <div class='page' id="pr"></div>
	 <div class='page' id="co"></div>
	 <div class='page' id="fe"></div>
	 <div class='page' id="en"></div>
	 <div class='page' id="tn"></div>
	 <div class='page' id="ml"></div>
	 <div class='page' id="dt"></div>
	 <div class='page' id="fl"></div>
	 <div class='page' id="bd"></div>
	 <div class='page' id="st"></div>
  
  </div>
  
  
  
	  <div id="tabs-3" class='pageHolder'>
	  
		<div id="actionurl"></div>
		
		
	  </div>
	  <div id="tabs-4" class='pageHolder'>
	  <div class='page' id="pid"></div>
	  </div>
	  <div id="tabs-5">
	   <div id="bt_filters"></div>
	  </div>
	  <div id="tabs-6"><div id="gauge"></div></div>
	  <div id="tabs-7"><div id="visualization"></div></div>
	 
	  
	  
  </div>
 
  </body>
</html>
