<!DOCTYPE html>
<html>
  <head>
    <title>Visitor Stats</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h3>Search Keyword Tracking</h3>
	Keywords = <%= JSON.stringify( data.maxKeywords )%>
	<br/>
	<b>Activities </b>
	<ol>
	<%  Object.keys(data.activities).forEach(function(activity){
		%>
		
				<li>activity_id = <%=activity%><br>Activity detail<%= data.activities[activity] %></li>
		<%
	})%>
	
	</ol>
  </body>
</html>